@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.text-logo {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

/* .list a:hover,
.list a.active {
  color: rgb(255, 255, 255);
  text-decoration: underline;
} */

