@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Changa+One:ital@0;1&family=Hammersmith+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Changa+One:ital@0;1&family=Hammersmith+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ultra&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

.text-logo {
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
}

.title {
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 500;
}

li.list.dropdown:hover {
  border-bottom: 2px solid gray;
}
.products-site li.ant-pagination-item.ant-pagination-item-active {
  border: 1px solid black;
}
.products-site li.ant-pagination-item.ant-pagination-item-active a {
  color: black;
}
/* dropdown menu */

.form.flex.justify-center label.ant-form-item-required {
  font-weight: 700;
  color: rgb(42, 41, 41);
  font-size: medium;
}
/* .quantity-control {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 8px;
}

.quantity-control button {
  border: none;
  color: black;
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.quantity-control button:hover {
  background-color: #bfbfbf;
}

.quantity-control span {
  font-size: 16px;
  width: 40px;
  text-align: center;
  padding: 8px 0;
} */

#basic_paymentMethod label.ant-radio-wrapper.ant-radio-wrapper-in-form-item {
  margin: 0;
}

.shipping-content label.ant-radio-wrapper {
  margin: 0;
}
.mt-20 .bg-white.p-10.rounded-lg.shadow-lg.w-96 {
  margin-left: -24px;
}

.search-coupon.px-28
  input.ant-input.ant-input-lg.css-dev-only-do-not-override-1gwfwyx.ant-input-outlined {
  padding-left: 28px;
}

/* .container mx-auto .ticket {
  height: 4rem;
} */
.sub-child {
  top: 10rem;
}

